/*tamaño del logo*/
#img-logo{
    max-width: 400px;
    height: auto;
    margin-bottom: 2px;
}
/*estilos al boton en modo mobile */
.btn-burguer{
    background-color: var(--color-black-2);
    border-radius: 5px;
    font-size: 40px;
}
/*color-fondo del navbar */
header{
    padding-left: 0 !important;
    margin-right: 0 !important;
}
.navbar{
    background-color: var(--color-black-3)!important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    min-width: 100%;
    min-height: 4rem;
}
/*Distribución de items*/
#list-items-nav{
    gap: 10px;
    justify-content: space-between;
}
/*Color-fondo de elementos*/
.nav-item{
    background-color: var(--color-black-1)!important;
    border-radius: 5px;
    
}
/*Tamaño de fuente*/
.nav-link{
    color: var(--color-white);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}