.card{
    height: 480px;
    width: 100%;
    margin-bottom: 7px;
}
.card-img-top{
    min-height: 280px;
    width:100%;
    object-fit: contain;
    padding: 7px;
}
.card-title{
    font-size: 15px;
}
.list-group-item{
    font-size: 12px;
}
