@import url(colors.css);
@import url(header.css);
@import url(nav.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vh;
}
body{
    background-color: var(--color-white);
}