@import url(commons.css);
@import url(colors.css);
@import url(header.css);
@import url(nav.css);
@import url(seccion1.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
#body{
    background-color:var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
}